{{ define "linkedlist" }}
{{ template "header" . }}
<table class="table">
    <caption>{{ .Title }}</caption>
    <tr>
        <th>Position</th>        
        <th>Value</th>
        <th>Address</th>
        <th>Next</th>
    </tr>
    {{ range $position, $data := .Data }}
        <tr>
            <td>{{ $position }}</td>            
            <td>{{ $data.Value }}</td>
            <td>{{ $data.Address }}</td>
            <td>{{ $data.Next }}
        </tr>
    {{ end }}
</table>
<br>
<form action="/linkedlist/insertAtFront" method="post" class="form-inline">
    <div class="form-group">
        <input type="number" name="new" class="form-control">
    </div>
    <button type="submit" value="insertAtFront" class="btn btn-success">Insert at Front</button>
</form>
<br>
<form action="/linkedlist/insertAtEnd" method="post" class="form-inline">
    <div class="form-group">
        <input type="number" name="new" class="form-control">
    </div>
    <button type="submit" value="insertAtEnd" class="btn btn-success">Insert at End</button>
</form>
<br>
<form action="/linkedlist/deleteFromFront" method="post" class="form-inline">
    <button type="submit" value="deleteFromFront" class="btn btn-danger">Delete from Front</button>
</form>
<br>
<form action="/linkedlist/deleteFromEnd" method="post" class="form-inline">
    <button type="submit" value="deleteFromEnd" class="btn btn-danger">Delete from End</button>
</form>
<br>
<form action="/linkedlist/search" method="post" class="form-inline">
    <div class="form-group">    
        <input type="number" name="search" class="form-control">
    </div>
    <button type="submit" value="search" class="btn btn-info">Search</button>
</form>
<br>
<form action="/linkedlist/delete" method="post" class="form-inline">
    <div class="form-group">
        <input type="number" name="delete" class="form-control">
    </div>
    <button type="submit" value="delete" class="btn btn-danger">Delete</button>
</form>
{{ template "footer" . }}
{{ end }}