{{ define "queue" }}
{{ template "header" . }}
<table>
    <caption>{{ .Title }}</caption>
    <tr>
        <th>Position</th>
        <th>Value</th>
    </tr>
    {{ range $position, $element := .Data.Elements }}
        <tr>
            <td>{{ $position }}</td>
            <td>{{ $element }}</td>
        </tr>
    {{ end }}
</table>
<br>
{{ if .Data.Peek }}
<p>The head element is {{ .Data.Peek }}</p>
{{ end }}
<form action="/queue/enqueue" method="post">
    <input type="number" name="new"><button type="submit" value="Push">Enqueue</button>
</form>
<form action="/queue/dequeue" method="post">
    <button type="submit" value="Pop">Dequeue</button>
</form>
{{ template "footer" . }}
{{ end }}