{{ define "stack" }}
{{ template "header" . }}
<table class="table">
    <caption>{{ .Title }}</caption>
    <tr>
        <th>Position</th>
        <th>Value</th>
    </tr>
    {{ range $position, $element := .Data.Elements }}
        <tr>
            <td>{{ $position }}</td>
            <td>{{ $element }}</td>
        </tr>
    {{ end }}
</table>
<br>
{{ if .Data.Peek }}
<p>The top element is {{ .Data.Peek }}</p>
{{ end }}
<form action="/stack/push" method="post" class="form-inline">
    <div class="form-group">
        <input type="number" name="new" class="form-control">
    </div>
    <button type="submit" value="Push" class="btn btn-success">Push</button>
</form>
<br>
<form action="/stack/pop" method="post" class="form-inline">
    <button type="submit" value="Pop" class="btn btn-danger">Pop</button>
</form>
{{ template "footer" . }}
{{ end }}